@import "./variables.scss";

body {
  background-color: #f9f9f9;
  text-align: center;
}

.products-list {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.product {
  flex: 1 1 300px;
  background-color: #ffffff;
  width:350px;
  height: 500px;
  border: 1px solid #000;
  max-width: 350px;
}

.product .img {
  width:100%;
  height: 100%;
  text-align: center;
}

.product .img img{
  width:100%;
  height: 100%;
 }

 .productsManager {
  display: flex;
  justify-content: center;

 }

 .manager-list .product { 
    display: flex;
    width: 300px;
    height: 250px;
    align-items: center;
    column-gap: 15px;
    border: none;
 }
 .manager-list .product .btn {
  height: 100%;
 }
 .manager-list .product .btn button{
  margin-top:30px;
  color: red;
  font-weight: bold;
  background-color: transparent;
  border: none;
 }



 @media (max-width: $LAPTOPS_SIZE) {
  .products-list {
    justify-content: center;
  }
}
