@import "./variables.scss";

body {
  background-color: #f9f9f9;
}

.products-list {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.product {
  flex: 1 1 300px;
  background-color: #ffffff;
  width:350px;
  height: 500px;
  border: 1px solid #000;
  max-width: 350px;
}

.product .img {
  width:100%;
  height: 300px;
  text-align: center;
}

.product .img img{
  width:100%;
  height: 100%;
 }

 @media (max-width: $LAPTOPS_SIZE) {
  .products-list {
    justify-content: center;
  }
}
