//screen sizes
$DESKTOPS_SIZE: 1280px;
$DESKTOPS_SIZE2: 1360px;
$LAPTOPS_SIZE: 1024px;
$LAPTOPS_SIZE2: 1080px;
$TABLETS_SIZE: 768px;
$MOBILE_SIZE: 480px;
$MOBILE_SIZE2: 445px;
$SUPER_SMALL_SIZE: 320px;